<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.board.mapper.BoardMapper">

    <resultMap id="BoardResultMap" type="com.boot.board.domain.Board">
        <id property="b_id" column="id"/>
        <result property="b_title" column="title"/>
        <result property="b_content" column="content"/>
        <result property="b_date" column="created_at"/>
        <result property="b_group" column="group"/>
        <result property="b_order" column="order"/>
        <result property="b_depth" column="depth"/>
    </resultMap>

    <select id="selectBoardList" resultMap="BoardResultMap">
	    SELECT id,title,content,created_at,`group`,`order`,depth
	    FROM board
	    ORDER BY `group` DESC, `order` ASC, depth ASC 
	    LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
    
    <insert id="writeBoard" >
	    INSERT INTO board (title, content, created_at)
	    VALUES (#{b_title}, #{b_content}, NOW() )
    </insert>
    
    <update id="setGroup" >
	    UPDATE board 
	    SET	`group`=LAST_INSERT_ID() 
	    WHERE id=LAST_INSERT_ID()
    </update>
    
    <insert id="replyBoard" parameterType="Board">
    	INSERT INTO board (title, content, created_at, `group`, `order`, depth)
    	VALUES (#{b_title},#{b_content}, NOW(), #{b_group}, #{b_order}+1, #{b_depth}+1)
    </insert>
	
	<update id="setReply" parameterType="Board">
		UPDATE board 
		SET `order`=`order`+1 
		WHERE `group`=#{b_group} and `order`>#{b_order} and id!=LAST_INSERT_ID() 
	</update>
	
    <select id="infoBoard" parameterType="Board" resultMap="BoardResultMap">
	    SELECT *
	    FROM board
	    WHERE id= ${b_id}
    </select>
    
    <delete id="deleteBoard" parameterType="Board" >
    	DELETE 
    	FROM board 
    	WHERE id=#{b_id}
    </delete>
    
    <update id="editBoard" parameterType="Board">
    	UPDATE board
    	SET title=#{b_title},
    		content=#{b_content}
    	WHERE id=#{b_id}	
    </update>
    
</mapper>