<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.board.mapper.BoardMapper">

    <resultMap id="BoardResultMap" type="com.boot.board.domain.Board">
        <id property="b_id" column="id"/>
        <result property="b_title" column="title"/>
        <result property="b_content" column="content"/>
        <result property="b_date" column="created_at"/>
    </resultMap>

    <select id="selectBoardList" resultMap="BoardResultMap">
	    SELECT id,title,content,created_at 
	    FROM board
	    ORDER BY id DESC
    </select>
    
    <insert id="writeBoard" >
	    INSERT INTO board (title, content, created_at)
	    VALUES (#{b_title}, #{b_content}, NOW() )
    </insert>
    
    <select id="infoBoard" resultMap="BoardResultMap">
	    SELECT *
	    FROM board
	    WHERE id= ${b_id}
    </select>
    
    <delete id="deleteBoard" >
    	DELETE 
    	FROM board 
    	WHERE id=#{b_id}
    </delete>
    
    <update id="editBoard" parameterType="Board"   >
    	UPDATE board
    	SET title=#{b_title}
    		content=${b_content}
    	WHERE id=#{b_id}	
    </update>
    
</mapper>